<div class="dropdown">
  <div style="background-color:#428bca" class="form-group">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Menu
        <span class="caret"></span>
      </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a id="login" href="login">Login</a></li>
      <li><a id="index" href="index">Home Page</a></li>
      <li><a id="about" href="about">About Page</a></li>
      <li><a id="practice" href="practice">Practice Page</a></li>
      <li><a id="database" href="database">Database</a></li>
      <li><a id="chatroom" href="chatroom">Chat Room</a></li>
      <li class="divider"></li>
      <li><a id="contact" href="contact">Contact Me</a></li>
    </ul>
  </div>
</div>
