<nav class="navbar navbar-inverse bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><font color="white">Fullstack</font></a>
    </div>
    <div id="uldiv">
    <ul class="nav navbar-nav admin-menu">
      <li><a id="home" href="index"><font color="white">Home</font></a></li>
      <li><a id="about" href="about"><font color="white">About</font></a></li>
      <li><a id="practice" href="practice"><font color="white">Practice</font></a></li>
      <li><a id="database" href="database"><font color="white">Database</font></a></li>
      <li><a id="chatroom" href="chatroom"><font color="white">Chatroom</font></a></li>
      <li><a id="contact" href="contact"><font color="white">Contact</font></a></li>
      <li><a id="restapi" href="restapi"><font color="white">API</font></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="signup" href="signup"><span class="glyphicon glyphicon-user"></span><font color="white"> Sign Up</font></a></li>
      <li><a id="login" href="login"><span class="glyphicon glyphicon-log-in"></span><font color="white"> Login</font></a></li>
    </ul>
  </div>
</div>
</nav>
