<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<header>
  <div style="">
    <h1 align="center">About Page</h1>
  </div>

  <% include partials/header.ejs %>
</header>

<body>

  <div class="container">
  </div>

  <footer>
    <% include partials/footer.ejs %>
  </footer>

</body>

</html>
