<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>

<header>
  <div style="">
    <h1 align="center">Add Name</h1>
  </div>

  <% include partials/header.ejs %>
</header>

  <body>
    <h1>Into to Node and MongoDB</h1>
    <form method="post" action="/addname">
      <label>Enter Your Name</label><br>
      <input type="text" name="firstName" placeholder="Enter first name..." required>
      <input type="text" name="lastName" placeholder="Enter last name..." required>
      <input type="submit" value="Add Name">
    </form>

    <footer>
      <% include partials/footer.ejs %>
    </footer>
  <body>
<html>
