<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<header>
  <div style="">
    <h1 align="center">Chat Error</h1>
  </div>

  <% include partials/header.ejs %>
</header>

<body style="background-color: #F8F8FF">

    <div style="text-align:center; margin:0 auto; width: 400px">
      <div class="panel panel-default">
        <div class="panel-heading"><a style="text-decoration: none" href="chatroom"><h4><b>Ops... Something went wrong
        </br>
        </br>
          Go back to the chat room<b><h4></a></div>
      </div>
    </div>

  <footer>
    <% include partials/footer.ejs %>
  </footer>

</body>

</html>
