<!doctype html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

  <header>
    <div style="">
      <h1 align="center">Home Page</h1>
    </div>

    <% include partials/header.ejs %>
  </header>

<body style="background-color: #F8F8FF">

  <footer>
    <% include partials/footer.ejs %>
  </footer>

</body>

</html>
